

<!DOCTYPE html>
<html>
<head>
  <title>Me&u</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag asset_path('favicon.ico') %>
</head>
<body>
  
  <nav class="top-bar">
    <a href="/" class="logo"><%= image_tag("logo.png", alt: "Me&u") %> </a>
    <section class="top-bar-section">
      <ul class="right menu">
        <%- if current_user -%>
          <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete, :class => "button alert hollow" %></li>
        <%- else -%>
          <li><%= link_to 'Sign Up', new_user_registration_path, :class => "button alert hollow"%></li>
          <li><%= link_to 'Sign In', new_user_session_path, :class => "button alert hollow"%></li>
        <%- end -%>
      </ul>
    </section>
  </nav>
  <div class="content">
  <%- flash.each do |key, value| -%>
    <div class="flash flash-<%= key %>">
      <%= value %>
    </div>
  <%- end -%>
  </div>
  <div class="break-tag">
  <%= yield %>
  </div>
  <%= javascript_include_tag 'application' %>
  
  <%- if Rails.env.development? || Rails.env.test? -%> 
    <%= javascript_tag do %>
      window.railsEnv = '<%= Rails.env %>'
    <%- end -%>
  <%- end -%>
  <%= javascript_pack_tag 'application' %>
  
    <footer class="page-footer">
      <div class="icons">
        <a href="https://www.linkedin.com/in/ziming-chen1/" target="_blank" class="linkedin"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
        <a href="https://github.com/Ziming15" target="_blank" class="github"><i class="fa fa-github" aria-hidden="true"></i></a>
        <a href="https://launchpass.launchacademy.com/users/ZimingChen3098/launcher_profile" target="_blank" class="launch-academy"><i class="fa fa-rocket" aria-hidden="true"></i></a>
      <p> Not a dating website.® <p>
      </div>
    </footer>

</body>
</html>
